html
    head
        link(rel='stylesheet', href="fondo.css")
    body
        h1 SE HA CREADO UNA NOTA
        br
        center 
            a(href="/creacion.html" , class="boton") CREAR MÁS
        br
        center
            a(href="/index.html" , class="boton") INICIO
        
