html
    head
        link(rel='stylesheet', href="fondo.css")
    body
        h1 LA NOTA HA SIDO ELIMINADA
        center
            a(href="/eliminacion.html" , class="boton") ELIMINAR
        br
        center
            a(href="/index.html" , class="boton") INICIO

