html
    head
        link(rel='stylesheet', href="fondo.css")
    body
        h1 SE HA MODIFICADO LA NOTA
        center
            a(href="/modificacion.html" , class="boton") MODIFICAR
        br
        center        
            a(href="/index.html" , class="boton") INICIO
