html
    head
        link(rel='stylesheet', href="fondo.css")
    body
        h1 LA NOTA SELECCIONADA NO EXISTE
        h2 Elija Modificar para volver a introducir el número de nota a Modificar
        h2 Elija Eliminar para volver a introducir el número de nota a Eliminar
        center
            a(href="/modificacion.html" , class="boton") MODIFICAR
        br
        center
            a(href="/eliminacion.html" , class="boton") ELIMINAR
        br
        center
            a(href="/index.html" , class="boton") INICIO
            
